@import "../../Assets/styles/variables.scss";
.container {
  padding: 0 42rem;
  max-width: 670rem;
}

@media (max-width: $sm) {
  .container {
    padding: 2rem;
  }
}

@media (max-width: $lg) {
  .container {
    padding: 0 2rem;
    box-sizing: border-box;
  }
}
