@import "./Assets/styles/font.scss";
@import "./Assets/styles/main.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Titillium Web",
    "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-family: "Titillium Web", sans-serif;
}
button {
  font-family: "Titillium Web", sans-serif;
}
table {
  font-family: "Titillium Web", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
