$primary: #242582;
$primaryLight: #2f2fa2;
$secondary: #553d67;
$warning: #f64c72;
$subText: #99738e;
$alt: #ffe400;
$success: #14a76c;
$info: #3feee6;

$light: #fff;
$light1: #edf5e1;
$light2: #e3e2df;
$light3: #bab2b5;

$dark1: #0000;
$dark2: #1f2833;
$dark3: #272727;

$gray: #1c3334;

// breakpoints
$xs: "0";
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1400px";
